.cat {
    margin: 0 auto;
    width: 200px;
    padding-bottom: 40px;
}

.cat:hover .whisker.left {
    top: 100px;
}

.cat:hover .whisker.right {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.cat:hover .whiskerb.leftb {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.cat:hover .whiskerb.rightb {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.cat:hover .eye.right {
    -webkit-transform: scale(1.5, 0.1);
    transform: scale(1.5, 0.1);
}

.cat:hover .eye2.right {
    -webkit-transform: scale(1.5, 0);
    transform: scale(1.5, 0);
}

.cat .ear {
    position: absolute;
    bottom: 100px;
    z-index: 0;
}

.cat .ear.left {
    left: 0;
    width: 0;
    height: 0;
    border-radius: 15px;
    border-top: 80px solid transparent;
    border-left: 60px solid #d59729;
    border-bottom: 20px solid transparent;
}

.cat .ear.right {
    left: 90px;
    width: 0;
    height: 0;
    border-radius: 15px;
    border-top: 80px solid transparent;
    border-right: 60px solid #d59729;
    border-bottom: 20px solid transparent;
}

.cat .face {
    position: absolute;
    bottom: 0;
    width: 167px;
    height: 167px;
    border-radius: 100%;
    border: 5px solid #000;
    background: #d59729;
}

.cat .whisker {
    position: absolute;
    top: 90px;
    width: 30px;
    height: 4px;
    border-radius: 14px;
    background: #000;
    transition: all 0.2s;
}

.cat .whisker.left {
    left: 0;
}

.cat .whisker.right {
    right: 0;
}

.cat .whiskerb {
    position: absolute;
    bottom: 40px;
    width: 30px;
    height: 4px;
    border-radius: 14px;
    background: #000000;
    transition: all 0.2s;
}


.cat .whiskerb.leftb {
    left: 0;
}

.cat .whiskerb.rightb {
    right: 0;
}

.cat .eye {
    position: absolute;
    top: 55px;
    width: 30px;
    height: 35px;
    border-radius: 100%;
    background: #000;
    transition: all 0.2s;
}

.cat .eye.left {
    left: 99px;
}

.cat .eye.right {
    right: 99px;
}


.cat .eye2 {
    position: absolute;
    top: 60px;
    width: 20px;
    height: 26px;
    border-radius: 100%;
    background: brown;
    transition: all 0.2s;
}

.cat .eye2.left {
    left: 104px;
}

.cat .eye2.right {
    right: 104px;
}

.cat .cheek {
    position: absolute;
    top: 70px;
    right: 58px;
    width: 35px;
    height: 70px;
    border: 10px solid transparent;
    border-radius: 50%;
}

.cat .cheek:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 30px;
    background: RGBA(90%, 50%, 50%, 0.7);
    border-radius: 100%;
    z-index: 0;
}

.cat .cheek.left:before {
    top: 2px;
    left: 30px;
}

.cat .cheek.right:before {
    top: 2px;
    right: 30px;
}

.cat .mouth {
    position: absolute;
    top: 100px;
    right: 59px;
    width: 20px;
    height: 25px;
    border-bottom: 6px solid black;
    transform: rotate(10deg);
    border-radius: 100%;
}
.cat .mouth2 {
    position: absolute;
    top: 100px;
    left: 59px;
    width: 20px;
    transform: rotate(-10deg);
    height: 25px;
    border-bottom: 6px solid black;
    border-radius: 100%;
}
