body {
    background: fixed radial-gradient(#282c34, black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 150px 0 200px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
    background: #282c34;
    box-shadow: black 5px 5px 50px;
    overflow: auto;
    padding: 3%;
    font-family: Bahnschrift, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 80%;
}

.chara {
    background: #282c34;
    box-shadow: black 5px 5px 50px;
    padding: 1%;
    font-family: Bahnschrift, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    float: left;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    width: 5%;
}


.main {
    position: absolute;
    top: 20%;
    z-index: 0;
    right: 20%;
    left: 20%;
    background-color: black;
    border: #282c34 1px solid;
    border-radius: 30px;
    width: 800px;
    height: 500px;
    overflow: hidden;
}

h1 {
    color: whitesmoke;
    text-shadow: black 0.15vh 0 0.5vh;
    letter-spacing: 8px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    color: whitesmoke;
    text-shadow: black 0.15vh 0 0.5vh;
    font-size: 14px;
    margin: -10px;
}

form {
    margin: auto;
    width: 20%;
    overflow: visible;
    font-size: 14px;
    color: white;
}

input {
    width: 150px;
    border-radius: 10px;
    margin: 5px;
    color: #282c34;
    text-shadow: black 0.15vh 0 0;
    font-weight: bold;
}

select {
    width: 150px;
    border-radius: 10px;
    margin: 5px;
    color: #282c34;
    text-shadow: black 0.15vh 0 0;
    font-weight: bold;
}

textarea {
    border-radius: 10px;
    color: #282c34;
    text-shadow: black 0.15vh 0 0;
    font-weight: bold;
}

label {
    margin: 5px;
    padding: 5px;
    color: white;
    text-shadow: black 0.15vh 0 0;
    float: left;
    font-weight: bold;
}

.App {
    text-align: center;
}

.App-logo {
    height: 100%;
    float: left;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
}


.App-header {
    background-color: #282c34;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    box-shadow: black inset 5px 0 20px;
    height: 10%;
    flex-direction: column;
    font-size: 14px;
    color: white;
}

.dialogue {
    position: absolute;
    background-color: RGBA(0%, 0%, 0%, 0.5);
    width: 100%;
    height: 20%;
    text-align: left;
    padding: 30px;
    font-size: 14px;
    bottom: 0;
    font-weight: bold;
    color: black;
    font-family: "MS Gothic", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    border-radius: 30px;
    animation-name: dialogue;
    animation-duration: 500ms;
}

.dialogueNPC {
    position: absolute;
    background-color: RGBA(50%, 0%, 30%, 0.5);
    width: 100%;
    height: 20%;
    text-align: left;
    padding: 30px;
    font-size: 14px;
    bottom: 0;
    font-weight: bold;
    color: black;
    font-family: "MS Gothic", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    border-radius: 30px;
    animation-name: dialogue;
    animation-duration: 500ms;
}

button {
    background-color: black;
    border-radius: 3px;
    padding: 3px;
    margin: 25px;
    color: white;
    font-weight: bold;
    border: black solid 1px;
}

button:hover {
    background-color: white;
    color: black;
}

@keyframes dialogue {
    from {
        background-color: RGBA(0%, 0%, 0%, 0);
        color: RGBA(0%, 0%, 0%, 0);
    }
    to {
        background-color: RGBA(0%, 0%, 0%, 0.5);
        color: black;
    }
}

.dialogue-button {
    width: 10px;
    height: 10px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    text-align: center;
    font-size: 10px;
    background-color: black;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home {
    width: 100%;
    height: 100%;
    background-color: snow;
}