body {
    background: fixed radial-gradient(#282c34, black);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 150px 0 200px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box {
    background: #282c34;
    box-shadow: black 5px 5px 50px;
    overflow: auto;
    padding: 3%;
    font-family: Bahnschrift, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 80%;
}

.preview {
    position: relative;
    right: 200px;
    top: 200px;
}

.chara {
    font-family: Bahnschrift, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    height: 50%;
    width: 13%;
    top: 50%;
    position: absolute;
    padding: 3px;
}

.chara2 {
    position: relative;
    top: -200px;
    background-color: #282c34;
    box-shadow: black 2px 2px 2px;
}

.bar {
    position: relative;
    bottom: -0px;
    background-color: #282c34;
    width: 100%;
    box-shadow: black 2px 2px 2px;
}

.barInside {
    position: relative;
    bottom: -0px;
    background-color: crimson;
    box-shadow: black inset 2px 2px 2px;
}

.money {
    width: 50px;
    height: 50px;
    background: gold;
    color: whitesmoke;
    text-shadow: black 2px 2px 0;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: orange inset 4px -4px 1px;
    border: 4px solid darkgoldenrod;
}

.headBattle {
    width: 100%;
    height: 20px;
    background: black;
    border-bottom: black 2px solid;
    border-radius: 100%;
    margin-top: -30px;
}

h3 {
    color: whitesmoke;
    text-shadow: black 0.15vh 0 0.5vh;
    font-size: 14px;
    border-bottom: solid 1px whitesmoke;
    border-top: solid 1px whitesmoke;
    border-radius: 5px;
}

.main {
    position: absolute;
    top: 10%;
    z-index: 0;
    right: 20%;
    left: 20%;
    background-color: black;
    border: #282c34 1px solid;
    border-radius: 30px;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

h1 {
    color: whitesmoke;
    text-shadow: black 0.15vh 0 0.5vh;
    letter-spacing: 8px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    color: whitesmoke;
    text-shadow: black 0.15vh 0 0.5vh;
    font-size: 14px;
    margin: -10px;
}


h4 {
    color: whitesmoke;
    text-shadow: black 0.15vh 0 0.5vh;
    font-size: 14px;
    margin-top: -30px;
}


form {
    margin: auto;
    width: 20%;
    overflow: visible;
    font-size: 14px;
    color: white;
}

input {
    width: 150px;
    border-radius: 10px;
    margin: 5px;
    color: #282c34;
    text-shadow: black 0.15vh 0 0;
    font-weight: bold;
}

select {
    width: 150px;
    border-radius: 10px;
    margin: 5px;
    color: #282c34;
    text-shadow: black 0.15vh 0 0;
    font-weight: bold;
}

textarea {
    border-radius: 10px;
    color: #282c34;
    text-shadow: black 0.15vh 0 0;
    font-weight: bold;
}

label {
    margin: 5px;
    padding: 5px;
    color: white;
    text-shadow: black 0.15vh 0 0;
    float: left;
    font-weight: bold;
}

.App {
    text-align: center;
}

.App-logo {
    height: 100%;
    float: left;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
}


.App-header {
    background-color: #282c34;
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    box-shadow: black inset 5px 0 20px;
    height: 10%;
    flex-direction: column;
    font-size: 14px;
    color: white;
}

.dialogue {
    position: absolute;
    background-color: RGBA(0%, 0%, 0%, 0.5);
    width: 100%;
    z-index: 9;
    height: 40%;
    text-align: left;
    padding: 30px;
    font-size: 14px;
    bottom: 0;
    font-weight: bold;
    color: black;
    text-shadow: darkslategrey 1px 0 0;
    font-family: "MS Gothic", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    border-radius: 30px;
    animation-name: dialogue;
    animation-duration: 500ms;
}

.dialogueSP {
    position: absolute;
    background-color: RGBA(30%, 30%, 30%, 0.5);
    width: 100%;
    z-index: 9;
    height: 40%;
    text-align: left;
    padding: 30px;
    font-size: 14px;
    bottom: 0;
    font-weight: bold;
    color: black;
    text-shadow: darkslategrey 1px 0 0;
    font-family: "MS Gothic", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    border-radius: 30px;
    animation-name: dialogue;
    animation-duration: 500ms;
}

.dialogueNPC {
    position: absolute;
    background-color: RGBA(50%, 0%, 30%, 0.5);
    width: 100%;
    height: 40%;
    text-align: left;
    padding: 13px;
    font-size: 14px;
    bottom: 0;
    font-weight: bold;
    color: black;
    font-family: "MS Gothic", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    border-radius: 15px;
    animation-name: dialogue;
    animation-duration: 500ms;
}

button {
    background-color: RGBA(0%, 0%, 0%, 1);
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    color: white;
    font-weight: bold;
    border: RGBA(0%, 0%, 0%, 1) solid 1px;
}

.btn-bt {
    position: absolute;
    z-index: 10;
    bottom: 5px;
    right: 0;
}


button:hover {
    background-color: white;
    color: black;
}

@keyframes dialogue {
    from {
        background-color: RGBA(0%, 0%, 0%, 0);
        color: RGBA(0%, 0%, 0%, 0);
    }
    to {
        background-color: RGBA(0%, 0%, 0%, 0.5);
        color: black;
    }
}

.dialogue-button {
    width: 10px;
    height: 10px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 0;
    text-align: center;
    font-size: 10px;
    background-color: black;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

*, *:after, *:before {
    box-sizing: border-box;
}



.home {
    width: 100%;
    height: 100%;
    background-color: sandybrown;
}